/*intento fallido de encontrar la fuente de los titles de mailchimp :) */
@font-face {
    font-family: 'mean_26_serifregular';
    src: url('../fonts/meanseri-webfont.woff2') format('woff2'),
         url('../fonts/meanseri-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}